.container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal {
    background-color: #ffffff;
    align-items: center;
    width: 15rem;
    margin: 15rem auto auto;
    padding: 1.5rem;
}
